@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Regular.otf");
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Medium.otf");
    font-weight: 500;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Italic.otf");
    font-style: italic;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Bold.otf");
    font-weight: 700;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Black.otf");
    font-weight: 900;
  }
  @font-face {
    font-family: bt-beau-san;
    src: url("/fonts/BT-Beau-Sans/BT-BeauSans-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: bt-beau-san;
    src: url("/fonts/BT-Beau-Sans/BT-BeauSans-Regular.ttf");
  }
}

html {
  scroll-behavior: smooth;
}

.MuiList-root {
  background-color: black !important;
  padding: 15px !important;
  font-size: 10px !important;
}

@media only screen and (max-width: 1340px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 320px) {
  #about_us_h2::before {
    content: '"';
    display: inline-block;
    font-size: 64px;
    rotate: 180deg;
    transform: scaleX(-1);
    height: 50px;
    line-height: 80px;
    padding-right: 0.1rem;
    color: #193f53b2;
    font-family: beautique;
  }

  #number-01::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: -15px;
    font-size: 40px;
  }

  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 12px;
    bottom: 205px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    bottom: 42px;
    width: 48px;
    line-height: 17px;
  }

  #number-02::after {
    content: ">";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    left: 0px;
    top: 165px;
    font-size: 32px;
  }

  #about-us-slogan::before {
    content: '"';
    display: inline-block;
    font-size: 64px;
    rotate: 180deg;
    transform: scaleX(-1);
    color: #193f53b2;
    font-family: beautique;
    font-style: normal;
    position: relative;
    top: -20px;
  }

  #about-us-slogan::after {
    content: '"';
    display: inline-block;
    font-size: 64px;
    font-family: beautique;
    transform: scaleX(-1);
    color: #193f53b2;
    position: relative;
    font-style: normal;
    bottom: -45px;
  }

  .MuiButtonBase-root {
    font-size: 10px !important;
    padding: 10px 8px !important;
  }
}

@media only screen and (min-width: 375px) {
  #about_us_h2::before {
    content: '"';
    display: inline-block;
    font-size: 64px;
    rotate: 180deg;
    transform: scaleX(-1);
    height: 50px;
    line-height: 80px;
    padding-right: 0.1rem;
    color: #193f53b2;
    font-family: beautique;
  }

  #number-01::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: -15px;
    font-size: 40px;
  }

  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 26px;
    bottom: 158px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 8px;
    bottom: 27px;
    width: 48px;
    line-height: 17px;
  }

  #number-02::after {
    content: ">";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    left: 0px;
    top: 133px;
    font-size: 32px;
  }

  #about-us-slogan::before {
    content: '"';
    display: inline-block;
    font-size: 64px;
    rotate: 180deg;
    transform: scaleX(-1);
    color: #193f53b2;
    font-family: beautique;
    font-style: normal;
    position: relative;
    top: -20px;
  }

  #about-us-slogan::after {
    content: '"';
    display: inline-block;
    font-size: 64px;
    font-family: beautique;
    transform: scaleX(-1);
    color: #193f53b2;
    position: relative;
    font-style: normal;
    bottom: -45px;
  }
}

@media only screen and (min-width: 425px) {
  #number-02::after {
    content: ">";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    right: 105px;
    top: 133px;
    font-size: 32px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    bottom: 27px;
    width: 48px;
    line-height: 17px;
  }

  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 28px;
    bottom: 158px;
  }
}

@media only screen and (min-width: 640px) {
  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 53px;
    bottom: 173px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 6px;
    bottom: 47px;
    width: 80px;
    line-height: 17px;
  }

  #number-02::after {
    content: ">";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    right: 135px;
    top: 140px;
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 28px;
    bottom: 215px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: -8px;
    bottom: 48px;
    width: 90px;
    line-height: 17px;
  }

  #number-02::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: 160px;
    font-size: 40px;
    font-weight: 400;
    left: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 37px;
    bottom: 247px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    position: absolute;
    right: -10px;
    bottom: 60px;
    width: 110px;
    line-height: 17px;
  }

  #number-02::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: 167px;
    font-size: 40px;
    font-weight: 400;
    left: 55px;
  }

  #about_us_h2::before {
    content: '"';
    display: inline-block;
    font-size: 100px;
    rotate: 180deg;
    transform: scaleX(-1);
    height: 70px;
    line-height: 120px;
    padding-right: 0.5rem;
    color: #193f53b2;
    font-family: beautique;
  }

  .MuiButtonBase-root {
    font-size: 16px !important;
    padding: 15px 8px !important;
  }
}

@media only screen and (min-width: 1280px) {
  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 100px;
    bottom: 215px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    right: 53px;
    bottom: 55px;
    width: 110px;
    line-height: 17px;
  }

  #number-02::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: 140px;
    font-size: 40px;
    font-weight: 400;
    left: 55px;
  }

  #about_us_h2::before {
    content: '"';
    display: inline-block;
    font-size: 100px;
    rotate: 180deg;
    transform: scaleX(-1);
    height: 70px;
    line-height: 120px;
    padding-right: 0.5rem;
    color: #193f53b2;
    font-family: beautique;
  }

  #about-us-slogan::before {
    content: '"';
    display: inline-block;
    font-size: 128px;
    rotate: 180deg;
    transform: scaleX(-1);
    color: #193f53b2;
    font-family: beautique;
    font-style: normal;
    position: relative;
    top: -50px;
  }

  #about-us-slogan::after {
    content: '"';
    display: inline-block;
    font-size: 128px;
    font-family: beautique;
    transform: scaleX(-1);
    color: #193f53b2;
    position: relative;
    font-style: normal;
    bottom: -100px;
  }

  .MuiButtonBase-root {
    font-size: 20px !important;
    padding: 20px 8px !important;
  }
}

@media only screen and (min-width: 1536px) {
  #about_us_h2::before {
    content: '"';
    display: inline-block;
    font-size: 128px;
    rotate: 180deg;
    transform: scaleX(-1);
    height: 50px;
    line-height: 120px;
    padding-right: 0.5rem;
    color: #193f53b2;
    font-family: beautique;
  }

  #number-01::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: -45px;
    font-size: 80px;
  }

  #number-01::before {
    content: "dự án";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    right: 70px;
    bottom: 253px;
  }

  #number-02::after {
    content: "+";
    display: inline-block;
    font-family: beautique;
    position: absolute;
    top: 135px;
    font-size: 80px;
    left: 70px;
  }

  #number-02::before {
    content: "khách hàng";
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    right: 5px;
    bottom: 73px;
    width: 160px;
  }
}

#images_container::-webkit-scrollbar {
  display: none;
}

#images_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
