@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Regular.otf");
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Medium.otf");
    font-weight: 500;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: beautique;
    src: url("/fonts/beautique_display/BeautiqueDisplay-Italic.otf");
    font-style: italic;
  }
}

html {
  scroll-behavior: smooth;
}

#about_us_h2::before {
  content: '"';
  display: inline-block;
  font-size: 128px;
  rotate: 180deg;
  transform: scaleX(-1);
  height: 50px;
  line-height: 120px;
  padding-right: 0.5rem;
  color: #193f53b2;
  font-family: beautique;
}

#about_us_p::after {
  content: '"';
  display: inline-block;
  font-size: 128px;
  font-family: beautique;
  transform: scaleX(-1);
  line-height: 128px;
  color: #193f53b2;
  position: absolute;
  bottom: -110px;
  margin-left: 0.7rem;
}
